.projectsPage {
  position: fixed;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overflow: auto;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 10px;
}
.projects .project {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: calc(((75vw - 150px) / 2) - 35px);
  padding: 25px;
  border-radius: 25px;
}
.projects .project button {
  height: 38px;
  width: 64px;
  border-radius: 19px;
  border: none;
  background-color: rgb(142, 208, 255);
}
.projects .project a {
  text-decoration: none;
  display: flex;
  justify-content: end;
  margin-top: 5px;
}